.wrapper {
    width: 100%;
    height: 207px;
    background-image: url('../../../public/pages/children/children-cake.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding: 15px 30px;
    /* background-size: cover; */
    /* background-image: url(); */
}

.parent{
    width: 700px;
    height: 100%;
    /* border: 1px solid white; */
    color: white;
}

.title{
    font-size: 32px;
    font-weight: 600;
}

.text{
    margin-top: 20px;
    font-size: 14px;
}


@media (max-width:960px){
    .parent{
        width: 500px;
    }

    .title{
        font-size: 24px;
    }

    .text{
        font-size: 13px;
        margin-top: 0;
    }
}

@media (max-width:600px){
    .wrapper{
        display: none;
    }
}