.wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.control_block{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    margin: 10px 0;
    display: flex;
    column-gap: 30px;
    align-items: center;
    font-size: 16px;
}

.card_wrapper {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 15px;
}

select{
    margin-left: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}


@media (max-width: 1950px){
    .wrapper{
        width: 1536px;
    }
}

@media (max-width: 1600px){
    .wrapper{
        width: 1436px;
    }
}

@media (max-width: 1500px){
    .wrapper{
        width: 1276px;
    }
}

@media (max-width: 1330px){
    .wrapper{
        width: 1176px;
    }
}

@media (max-width: 1250px){
    .wrapper{
        width: 879px;
    }
}

@media (max-width: 960px){
    .wrapper{
        width: 789px;
    }
}

@media (max-width: 820px){
    .wrapper{
        width: 699px;
    }
}

@media (max-width: 700px){
    .wrapper{
        width: 594px;
    }
}

@media (max-width: 600px){
    .wrapper{
        width: 452px;
    }
}


@media (max-width: 470px){
    .wrapper{
        width: 372px;
    }
}


