.wrapper {
    width: 100%;
    height: 596px;
    /* border: 1px solid black; */
}

.desktop_ultrawide {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 25px;
}

.desktop {
    width: 100%;
    height: 100%;
    display: none;
    background-image: url('../../../.././public/pages/main/top/top-fon.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 395px;

    /* background: rgb(231,214,222);
background: linear-gradient(81deg, rgba(231,214,222,1) 48%, rgba(221,199,212,1) 75%); */
    /* border: 1px solid black; */
}

.desktop_in {
    width: 906px;
    height: 280px;
    /* border: 1px solid white; */
}

.desktop_in .title{
    font-size: 72px;
    color: #FFFF;
    font-weight: 500;
}

.desktop_in .text{
    font-size: 48px;
    color: #FFFF;
    font-weight: 500;
}

.desktop_in .btn{
    width: 196px;
    height: 46px;
    background-color: #ffff;
    color: black;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.left_top {
    width: 100%;
    height: 50%;
    background-color: #F0F1F5;
    background-image: url('../../../.././public/pages/main/top/top-video.jpeg');
    /* background-position: right; */
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
}

.left_top_in {
    /* border: 1px solid black; */
    width: 482px;
    height: 201px;

}

.item_a {
    width: 100%;
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: 30px;
}

.text {
    font-size: 16px;
}

.item_b {
    width: 126px;
    height: 40px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 600;

}


.item_b:hover {
    text-decoration: none;
    cursor: pointer;
}




.left_bottom {
    width: 100%;
    height: 50%;
    background-color: #F0F1F5;
    background-image: url('../../../.././public/pages/main/top/top-selection.jpg');
    display: flex;
    justify-content: end;
}

.left_bottom_in {
    width: 244px;
    height: 182px;
}

.item_c {
    width: 100%;
    height: 142px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item_d {
    width: 126px;
    height: 40px;
    border: 1px solid black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.item_d:hover {
    cursor: pointer;
}

.right {
    width: 50%;
    height: 100%;
    background-color: #DCC9C5;
    background-image: url('../../../.././public/pages//main/top/top-tasty.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 34px;
}

.right_in {
    width: 100%;
    height: 290px;
    /* border: 1px solid black; */
    color: #FFFF;
    display: flex;
    flex-direction: column;
}

.right_in .title {
    font-size: 70px;
}

.right_in .text {
    font-size: 26px;
    font-weight: 500;
}

.right_in .btn {
    width: 196px;
    height: 46px;
    background-color: #FFFF;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: 600;
}

.right_in .btn:hover {
    cursor: pointer;
}


@media (max-width: 1260px) {
    .wrapper {
        height: 395px;
    }

    .desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .desktop_ultrawide {
        display: none;
    }
}

@media (max-width:960px) {
    .wrapper {
        height: 240px;
        display: flex;
        justify-content: center;
    }

    .desktop {
        background-size: 100% 240px;
    }

    .desktop_in{
        width: 570px;
        height: 150px;
    }

    .desktop_in .title{
        display: none;
    }

    .desktop_in .btn{
        display: none;
    }

    .desktop_in .text{
        font-size: 30px;
        font-weight: 700;
    }
}

@media (max-width:700px) {
    .wrapper {
        height: 210px;
    }

    .desktop {
        background-size: 700px 210px;
    }
}

@media (max-width:600px) {
    .wrapper {
        height: 210px;
    }

    .desktop {
        background-size: 600px 220px;
    }
    .desktop_in{
        width: 290px;
        height: 132px;
    }

    .desktop_in .title{
        display: none;
    }

    .desktop_in .btn{
        display: none;
    }

    .desktop_in .text{
        font-size: 21px;
    }
}

@media (max-width:460px) {
    .desktop {
        background-size: 420px 210px;
        background-position: 0 100%;
    }
}