.wrapper {
    width: 600px;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #F8F8F8;
    position: absolute;
    z-index: 10;
    transition: all 0.8s ease 0s;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 15px;
}

.btn_close_wrapper {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    /* border: 1px solid black; */

}

.btn_close_wrapper img {
    width: 30px;
    height: 100%;
}

.popup_form {
    padding-top: 50px;
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.popup_form input:nth-child(3){
    position: relative;
    left: 69px;
}

.input_wrapper{
    width: 250px;
    height: 48px;
    /* border: 1px solid black; */
}

.input_name{
    height: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    display: flex;
    align-items: end;
}

.input{
    width: 100%;
    height: 28px;
}

.input:nth-child(3){
    width: 50px;
}
