@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=PT+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open sans";
  background-color: rgb(248,248, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  color: rgb(177, 177, 177);
  font-size: 14px;
  margin-right: 25px;
  text-decoration: none;
  font-family: "Open Sans";
}

.burger-link{
  text-decoration: none;
}

.active{
  color: black;
}
